<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>PowerTango</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Powerdns Tango is a web frontend for powerdns written in the perl dancer framework. Designed to make DNS management simple, easy and as quick as possible." />
	<meta name="author" content="Michal Ingeli <mi@v3.sk>" />
	<meta name="author" content="Sarah Fuller - sarah@averna.id.au" />
	<meta name="robots" content="index,follow" />

	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	
	<!--<link type="text/css" href="/css/main.prod.css" rel="stylesheet" />-->
	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/jquery-ui/ui/jquery-ui.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-validate.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.tipTip.minified.js"></script>

	<style type="text/css">
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}
	</style>

	<link type="text/css" href="/css/custom.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="brand" href="/" id="nav_menu_home" title='Home of PowerTango'>DNS</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
					[% IF session.logged_in %]
						<li id="nav_menu_domains"><a href="/domains">Domains</a></li>
						<li id="nav_menu_templates"><a href="/templates">Templates</a></li>
						<li class="dropdown">
						[% IF session.user_type == 'admin' %]
						<li class="dropdown" id="nav_menu_admin">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/admin">Global Settings</a></li>
								<li><a href="/admin">Default SOA</a></li>
								<li class="divider"></li>
								<li><a href="/admin/users">Users</a></li>
								<li><a href="/supermasters">Supermasters</a></li>
							</ul>
						</li>
						[% END %]
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Me <b class="caret"></b></a>
							<ul class='dropdown-menu'>
								<li><a href="/account">Account</a></li>
								<li><a href="/logout">Log Out</a></li>
							</ul>
						</li>
					[% END %]
					</ul>

					[% IF session.logged_in %]
					<form class="navbar-search pull-right" method='post' action='/domains'>
						<input type="text" class="search-query" name="domain_search" placeholder="example.com">
					</form>
					[% END %]

					<ul class="nav pull-right">
						<li><a href="/about">?</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
		[% IF flash.message %]
		<div id="status_msg" class="text-info flash_message flash alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><span id="status_msg_txt">[% flash.message %]</span></div>
		[% END %]
		[% IF flash.error %]
		<div id="error_msg" class="text-error flash_error flash alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><span id="error_msg_txt">[% flash.error %]</span></div>
		[% END %]
		<div id="status_msg_ajax" class="flash_message flash hide alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><span id="status_msg_txt_ajax"></span></div>
		<div id="error_msg_ajax" class="flash_error flash hide alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button><span id="error_msg_txt_ajax"></span></div>
	</div>
	
	<!-- content -->
	[% content %]
	<!-- end content -->

	<!-- Should be placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/bootstrap/js/bootstrap-transition.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-scrollspy.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-tab.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-tooltip.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-popover.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-button.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-collapse.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-carousel.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap-typeahead.js"></script>
</body>
</html>
